.header {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  padding: 0 10px;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10p;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 500px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

.res-logo {
  width: 100%;
  height: 50%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  margin:10px;
  width: 200px;
  height: 500px;
  background-color: #f0f0f0;
}

.login{
  padding: 0 20px;
  cursor: pointer;
}

.filter{
  display: flex;
}

.search{
  margin: 10px;
}