.header {
  display: flex;
  justify-content: space-between;
  border: solid black 1px;
  padding: 0 10px;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10p;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 400px;
  border: 1px solid black;
  margin: 10px;
}

.search-bar {
  padding: 10px;
  width: 300px;
  height: 30px;
  font-size: 20px;
}

.res-logo {
  width: 100%;
  height: 50%;
}
